@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@*@ViewBag.Message*@</h3>


<p>Bug.Netis built with C#, Visual Studio and Admin LTE.</p>
<p>Buginator is a tool for tracking issues in software projects.</p>