@model Falcon_Bug_Tracker.Models.Project
@{
    ViewBag.Title = "ManageProjectLevelUsers";
}

<h2>Managing Members for the @Model.Name projects</h2>


<div class="container">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("ProjectId", Model.Id)
        <div class="row">
            @*Left column that holds the users*@
            <div class="col">
                @Html.ListBox("UserIds")
            </div>
        </div>
        <br />
        <div class="row">
                <div class="col">
                        <button type="submit" class="btn btn-dark" style="width:100%";>Reassign</button>
                </div>
        </div>

    }

</div>

